<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="description" content="Create, manage and track your daily goals in a simple and aesthetics way." />

	<meta name="keywords" content="daily, goals, tasks, productivity, privacy, mobile, android" />

	<meta name="og:site_name" content="Dailly" />

	<meta property="og:title" content="Dailly" />

	<meta property="og:type" content="website" />

	<meta property="og:url" content="https://dailly.app/" />

	<meta name="og:email" content="hello.dailly@gmail.com" />

	<meta property="og:image" content="{{ url_for("static", path="images/banner.png") }}" />

	<meta property="og:image:secure_url" content="{{ url_for("static", path="images/banner.png") }}" />
	
	<meta name="msvalidate.01" content="B85A6FF3104C8CA2B1CD9FBAC50FAC0E" />
	
	<title>Dailly</title>

	<link rel="shortcut icon" href="{{ url_for("static", path="/favicon.ico") }}" />

	<link href="{{ url_for('static', path='styles/index.css') }}" rel="stylesheet" type="text/css" />

	<link rel="preconnect" href="https://fonts.googleapis.com" />

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>
	<header class="menu">
		<img src="{{ url_for('static', path='images/logo.png') }}" alt="Dailly logo" class="menu__image" />

		<nav class="menu__navigator">
			<a href="/privacy-policy" class="menu__link" id="privacyPolicy">
				Privacy Policy
			</a>

			<a href="/terms-and-conditions" class="menu__link" id="termsAndConditions">
				Terms & Conditions
			</a>
		</nav>
	</header>

	<section class="stats">
		<div class="stats__geometry"></div>

		<span class="stats__text">
			1k Users
		</span>
	</section>

	<main class="content">
		<h1 class="content__title">Create, manage and track your daily goals</h1>

		<h2 class="content__subtitle">
			Take a new step everyday and achieve your goals. No ADS, no trackers,
			and no databases.
		</h2>

		<a href="https://play.google.com/store/apps/details?id=com.dailly.dailly" class="content__link">
			Play Store &#10132;
		</a>
	</main>

	<aside class="presentation">
		<div class="presentation__geometry"></div>

		<div class="presentation__container">
			<img src="{{ url_for('static', path='images/goals.png') }}" alt="List of goals"
				class="presentation__image" />

			<img src="{{ url_for('static', path='images/scroll.png') }}" alt="Scroll indicator"
				class="presentation__scroll" />
		</div>

		<div class="presentation__container">
			<img src="{{ url_for('static', path='images/metrics.png') }}" alt="Goal metrics"
				class="presentation__image" />
		</div>

		<div class="presentation__container">
			<img src="{{ url_for('static', path='images/cloud.png') }}" alt="Goals backup"
				class="presentation__image" />
		</div>
	</aside>

	<script type="text/javascript">
		const termsAndConditions = document.getElementById("termsAndConditions");

		const privacyPolicy = document.getElementById("privacyPolicy");

		const responsiveText = () => {
			if (document.body.scrollWidth <= 700) {
				termsAndConditions.innerHTML = "T&C";

				privacyPolicy.innerHTML = "Privacy";
			} else {
				termsAndConditions.innerHTML = "Terms & Conditions";

				privacyPolicy.innerHTML = "Privacy Policy";
			}
		};

		responsiveText();

		new ResizeObserver(responsiveText).observe(document.body);
	</script>

	{% include "scripts.html" %}
</body>

</html>
