<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="{{ url_for("static", path="/favicon.ico") }}" />

	<title>{{ title }}</title>

	<link href="{{ url_for('static', path='styles/layout.css') }}" rel="stylesheet" type="text/css" />

	{% block imports %} {% endblock %}

	<script>
		const handleEventMessage = (event) => {
			const iframe = document.getElementById("privacyPolicy")
			
			if(iframe)
				iframe.style.height = event.data.height;
		};
	
		if (window.addEventListener) {
			window.addEventListener("message", handleEventMessage);
		}
	</script>
</head>

<body>
	<a href="/">
		<img src="{{ url_for('static', path='images/logo.png') }}" alt="Dailly" class="image" />
	</a>

	<main class="content">
		{% block content %} {% endblock %}
	</main>

	{% include "analytics.html" %}
</body>

</html>