{% extends "layout.html" %}


{% block imports %}

<link href="{{ url_for('static', path='styles/privacy_policy.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block content%}

<iframe
	title="Privacy Policy"
	id="privacyPolicy"
	src="https://audaxly.com/privacy-policy?code=kojej1j04hvs8e"
	scrolling="no"
	style="
		border: none;
		width: 100%;
		height: 100vh;
		transition: height 200ms ease-in-out;
	"
></iframe>

<script>
	const handleEventMessage = (event) => {
	  document.getElementById("privacyPolicy").style.height = event.data.height;
	};

	document.onreadystatechange = () => {
		if (document.readyState == "complete") {
			window.addEventListener("message", handleEventMessage);
		}
	}
		
</script>

{% endblock %}
