/* Global */
:root {
  --primary: #ffffff;
  --secondary: #000000;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
    "menu presentation"
    "content  presentation";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 1fr;
  background: var(--primary);
  color: var(--secondary);
}

/* Menu */
.menu {
  grid-area: menu;
}

.menu__image {
}

.menu__navigator {
}

.menu__link {
}

/* Content */
.content {
  grid-area: content;
}

.content__title {
}

.content__subtitle {
}

.content__link {
}

/* Presentation */
.presentation {
  grid-area: presentation;
}

.presentation__image {
}
