/* Content */
.content {
  width: 75vw;
  padding: 24px 0;
  line-height: 22px;
}

@media only screen and (max-width: 1100px) {
  .content {
    padding: 12px 44px;
  }
}

/* Header */
.title {
  font-size: 1.5em;
  font-family: Inter;
  font-weight: 700;
  color: var(--color-secondary);
}

.subtitle {
  font-size: 1.25em;
  font-family: Inter;
  font-weight: 600;
  color: var(--color-secondary);
}

.text {
  font-size: 0.9em;
  font-family: Inter;
  font-weight: 400;
  color: var(--color-secondary);
}

/* Link */
.link {
  text-decoration: none;
  font-size: 0.9em;
  font-family: Inter;
  font-weight: 400;
  color: var(--color-secondary);
  transition: var(--transition-time);
}

.link:hover {
  filter: opacity(0.75);
}
